html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
  }

  .Footer{
    padding: 20px;
  }
  @media (min-height:620px){
    .Footer{
        margin-top: 220px;
        padding: 20px;
      }
  }
  @media (min-height:920px){

    .Footer{
        margin-top: 250px;
        padding: 20px;
      }
  }

.nav {
    background-color: aliceblue;
    border: solid whitesmoke;
    border-radius: 40px;
    padding-top: 5px;
    display: flex;
}

.l-logo{
    width: 44%;
    justify-content: right;
}
.logo{
    display: flex;
    text-align: right;
    
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 16px;
    
}
.img-b{
    mix-blend-mode: multiply;
}

.mobile-menu-link{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:90px;
    z-index: 999;
    background-color: #282c34;
    width: 100%;
    height:10rem;
    transition: 2s linear;
    transform-origin: top;
  
  }
  .mobile-menu-link li {
    font-size:12px;
    font-weight:500;
    padding:10px 0 10px 0;
    cursor: pointer;
    z-index: 999;
    }
    .mobile-menu-link li:hover{
      transition:0.8s;
      font-weight:bold;
    }

.user-selc{
        position: relative;
        top:40%;
        left:38%;
}
.comp-selc {
        position: relative;
        top:40%;
        left:45%;
}



.paper-i{
    mix-blend-mode: multiply;
}

.shake{
    animation-name:shake;
    animation-duration:1s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
    animation-delay:1s;
    }
    @keyframes shake{
    from{
    transform:rotate(15deg);
    }
    to{
      transform:rotate(-15deg);
      transform-origin:center center;

    }
   
    
    }

    @media screen and (max-width:1020px){
       
    
        .user-selc{
            position: relative;
            top:40%;
            left:34%;
        }
        .comp-selc {
            position: relative;
            top:40%;
            left:36%;
        }
    }
    .hamburger{
        display: none;
       }
    @media screen and (max-width:1120px){
       
        .user-selc{
            position: relative;
            top:40%;
            left:38%;
        }
        .comp-selc {
            position: relative;
            top:40%;
            left:42%;
        }
    }

    @media screen and (max-width:620px){
        .nav{
            justify-content: space-between;
        }
        .l-logo{
            width: 30%;
            justify-content: right;
        }
       .hamburger{
        display: block;
       }
       .Nav-items{
        display: none;
       }
        .user-selc{
            position: relative;
            top:40%;
            left: 25%;
        }
        .comp-selc {
            position: relative;
            top:40%;
            left:35%;
        }
    }
