.nav {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}
.nav-links{
    width: 50%;
    display: flex;
    
}
.nav a img {
    width: 60px;
    height: 60px;
    border-radius: 16px;
    
}
